.banner {
  padding-top: 0;
  // .banner__wrapper
  &__wrapper {
    padding: 147px 0 158px 0;
    background-image: url("../../CoffeeShop_black_style/src/images/banner.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  // .banner__container
  &__container {
    display: flex;
    justify-content: space-between;

    // align-items: start;
  }

  // .banner__content
  &__content {
    max-width: 530px;
  }

  // .banner__title

  &__title {
    font-size: 72px;
    margin-bottom: 32px;
  }

  // .banner__text

  &__text {
    font-size: 20px;
    margin-bottom: 64px;
    opacity: 0.8;
  }

  // .banner__btn

  &__btn {
    padding: 24px 40px;
  }

  // .banner__preview

  &__preview {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    height: 110px;
    // margin-top: 325px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 118%;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s ease 0s;
    &::before {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 68.5px;
      height: 68.5px;
      border: 1.5px solid #ffffff;
      border-radius: 50%;
      background-color: transparent;
      background: url("../../CoffeeShop_black_style/src/images/play.svg") 50%/50%
        no-repeat;
      transition: 0.3s ease 0s;
    }
  }
}
@media (hover: hover) {
  .banner {
    &__preview:hover {
      color: #c99e71;
      &::before {
        border: 1.5px solid #c99e71;
        fill: #c99e71;
        transition: 0.3s ease 0s;
        background-image: url("./../CoffeeShop_black_style/src/images/play_hover.svg");
      }
    }
  }
}
